<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zihui.cwoa.politics.dao.CarMapper">

  <insert id="insertCar" parameterType="Map" >
    INSERT INTO pol_car
    (car_license,car_type,car_brand,car_color,car_buy_time,car_check_time,car_manager,car_need_role,car_status)
    VALUES
    (#{carLicense},#{carType},#{carBrand},#{carColor},#{carBuyTime},#{carCheckTime},#{carManager},#{carNeedRole},#{carStatus})
  </insert>

  <select id="queryCar" parameterType="Integer" resultType="Map">
    SELECT * FROM pol_car LIMIT #{arg0},#{arg1}
  </select>

  <select id="countCar" resultType="Integer">
    SELECT COUNT(*) FROM pol_car
  </select>

  <select id="queryCarUse" parameterType="Map" resultType="Map">
    SELECT	* FROM pol_car_use WHERE use_car=#{carId} ORDER BY use_end LIMIT #{page},#{limit}
  </select>

  <select id="countCarUse" parameterType="String" resultType="Integer">
    SELECT	COUNT(*) FROM pol_car_use WHERE use_car=#{carId}
  </select>

  <delete id="deleteCar" parameterType="String">
    DELETE FROM pol_car WHERE car_id=#{arg0}
  </delete>

  <delete id="deleteManyCar" parameterType="List">
    DELETE FROM pol_car WHERE car_id IN
    <foreach collection="array" open="(" separator="," close=")"  item="temp">
      ${temp}
    </foreach>
  </delete>

  <update id="updateCar" parameterType="Map">
    UPDATE pol_car SET
    car_license=#{carLicense},
    car_type=#{carType},
    car_brand=#{carBrand},
    car_color=#{carColor},
    car_buy_time=#{carBuyTime},
    car_check_time=#{carCheckTime},
    car_manager=#{carManager},
    car_need_role=#{carNeedRole},
    <if test="carStatus=='2' or carStatus=='3'">now_user='',now_use_id=''</if>
    car_status=#{carStatus}
    WHERE car_id=#{carId}
  </update>

  <select id="getFreeCar" resultType="Map">
    SELECT car_id,car_license,car_manager,car_need_role FROM pol_car WHERE car_status=0
  </select>

  <insert id="insertCarUse" parameterType="com.zihui.cwoa.politics.pojo.CarUse" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO pol_car_use (use_car,use_user,use_reason,use_start) VALUES (#{use_car},#{use_user},#{use_reason},NOW())
  </insert>

  <update id="updateCarStatus" parameterType="com.zihui.cwoa.politics.pojo.CarStatus">
    UPDATE pol_car SET car_status=#{carStatus},now_user=#{nowUser},now_use_id=#{useId} WHERE car_id=#{carId}
  </update>

  <select id="getReturnCar" resultType="Map">
    SELECT car_id,car_license,car_manager FROM pol_car WHERE now_user=#{userId}
  </select>

  <select id="getNowUseId" parameterType="String" resultType="String">
    SELECT now_use_id FROM pol_car WHERE car_id=#{carId}
  </select>

  <update id="updateCarUse" parameterType="String">
    UPDATE pol_car_use SET use_end=NOW() WHERE id=#{useId}
  </update>
</mapper>