<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zihui.cwoa.system.dao.sys_menuMapper" >
  <resultMap id="BaseResultMap" type="com.zihui.cwoa.system.pojo.sys_menu" >
    <id column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
    <result column="menu_type" property="menuType" jdbcType="INTEGER" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="ts" property="ts" jdbcType="VARCHAR" />
    <result column="temp_var1" property="tempVar1" jdbcType="VARCHAR" />
    <result column="temp_var2" property="tempVar2" jdbcType="VARCHAR" />
    <result column="temp_int1" property="tempInt1" jdbcType="INTEGER" />
    <result column="temp_int2" property="tempInt2" jdbcType="INTEGER" />
      <!--自关联查询下级菜单-->
      <!--<collection property="menus" ofType="sys_menu" select="selectChilden" column="menu_id">
        <id column="menu_id" property="menuId" jdbcType="INTEGER" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
        <result column="menu_type" property="menuType" jdbcType="INTEGER" />
        <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
        <result column="ts" property="ts" jdbcType="VARCHAR" />
        <result column="temp_var1" property="tempVar1" jdbcType="VARCHAR" />
        <result column="temp_var2" property="tempVar2" jdbcType="VARCHAR" />
        <result column="temp_int1" property="tempInt1" jdbcType="INTEGER" />
        <result column="temp_int2" property="tempInt2" jdbcType="INTEGER" />
        <collection property="menus" ofType="sys_menu" select="selectChilden" column="menu_id">
          <id column="menu_id" property="menuId" jdbcType="INTEGER" />
          <result column="parent_id" property="parentId" jdbcType="INTEGER" />
          <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
          <result column="status" property="status" jdbcType="INTEGER" />
          <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
          <result column="menu_type" property="menuType" jdbcType="INTEGER" />
          <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
          <result column="ts" property="ts" jdbcType="VARCHAR" />
          <result column="temp_var1" property="tempVar1" jdbcType="VARCHAR" />
          <result column="temp_var2" property="tempVar2" jdbcType="VARCHAR" />
          <result column="temp_int1" property="tempInt1" jdbcType="INTEGER" />
          <result column="temp_int2" property="tempInt2" jdbcType="INTEGER" />
        </collection>
        </collection>-->
  </resultMap>
  <sql id="Base_Column_List" >
    menu_id, parent_id, menu_name, status, menu_code, menu_type, menu_url, ts, temp_var1, 
    temp_var2, temp_int1, temp_int2
  </sql>
  <!--查询下级菜单-->
  <select id="selectChilden" resultMap="BaseResultMap">
    select * from sys_menu where parent_id =#{meunId}
  </select>
  <!--根据菜单id查询菜单，传人List 返回List-->
  <select id="selectMenuByMenuId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from sys_menu where menu_id in
    <foreach item="menuId" collection="list" open="(" separator=","
             close=")">
      #{menuId,jdbcType=INTEGER}
    </foreach>
  </select>

  <!--根据菜单id查询菜单 返回一条记录-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.zihui.cwoa.system.pojo.sys_menu" >
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null and menuId !=''" >
        menu_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="menuName != null and menuName !=''" >
        menu_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="menuCode != null and menuCode !=''" >
        menu_code,
      </if>
      <if test="menuType != null and menuType !=''" >
        menu_type,
      </if>
      <if test="menuUrl != null and menuUrl !=''" >
        menu_url,
      </if>
      <if test="ts != null and ts !=''" >
        ts,
      </if>
      <if test="tempVar1 != null and tempVar1 !=''" >
        temp_var1,
      </if>
      <if test="tempVar2 != null and tempVar2 !=''" >
        temp_var2,
      </if>
      <if test="tempInt1 != null and tempInt1 !=''" >
        temp_int1,
      </if>
      <if test="tempInt2 != null and tempInt2 !=''" >
        temp_int2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null and menuId !=''" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null and menuName != ''" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="menuCode != null and menuCode !=''" >
        #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null and menuType !=''" >
        #{menuType,jdbcType=INTEGER},
      </if>
      <if test="menuUrl != null and menuUrl !=''" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="ts != null and ts !=''" >
        #{ts,jdbcType=VARCHAR},
      </if>
      <if test="tempVar1 != null and tempVar1 !=''" >
        #{tempVar1,jdbcType=VARCHAR},
      </if>
      <if test="tempVar2 != null and tempVar2 !=''" >
        #{tempVar2,jdbcType=VARCHAR},
      </if>
      <if test="tempInt1 != null and tempInt1 !=''" >
        #{tempInt1,jdbcType=INTEGER},
      </if>
      <if test="tempInt2 != null and tempInt2 !=''" >
        #{tempInt2,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zihui.cwoa.system.pojo.sys_menu" >
    update sys_menu
    <set >
      <if test="parentId != null and parentId !=''" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null and menuName != ''" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="menuCode != null and menuCode !=''" >
        menu_code = #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuType != null and menuType !=''" >
        menu_type = #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null and menuUrl !=''" >
        menu_url = #{menuUrl,jdbcType=INTEGER},
      </if>
      <if test="ts != null and ts !=''" >
        ts = #{ts,jdbcType=VARCHAR},
      </if>
      <if test="tempVar1 != null and tempVar1 !=''" >
        temp_var1 = #{tempVar1,jdbcType=VARCHAR},
      </if>
      <if test="tempVar2 != null and tempVar2 !=''" >
        temp_var2 = #{tempVar2,jdbcType=VARCHAR},
      </if>
      <if test="tempInt1 != null and tempInt1 !=''" >
        temp_int1 = #{tempInt1,jdbcType=INTEGER},
      </if>
      <if test="tempInt2 != null and tempInt2 !=''" >
        temp_int2 = #{tempInt2,jdbcType=INTEGER},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <select id="selectMenuList" parameterType="com.zihui.cwoa.system.pojo.sys_menu" resultMap="BaseResultMap">
    select * from sys_menu where 1 = 1
    <if test="menuId != null and menuId !=''" >
    and menu_id =  #{menuId,jdbcType=INTEGER}
    </if>
    <if test="parentId != null and parentId !=''" >
     and parent_id = #{parentId,jdbcType=INTEGER}
    </if>
    <if test="menuName != null and menuName != ''" >
    and  menu_name = #{menuName,jdbcType=VARCHAR}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=INTEGER}
    </if>
    <if test="menuCode != null and menuCode !=''" >
      and  menu_code = #{menuCode,jdbcType=VARCHAR}
    </if>
    <if test="menuType != null and menuType !=''" >
      and  menu_type = #{menuType,jdbcType=VARCHAR}
    </if>
    <if test="menuUrl != null and menuUrl !=''" >
      and  menu_url = #{menuUrl,jdbcType=INTEGER}
    </if>
    <if test="ts != null and ts !=''" >
      and  ts = #{ts,jdbcType=VARCHAR}
    </if>
    <if test="tempVar1 != null and tempVar1 !=''" >
      and  temp_var1 = #{tempVar1,jdbcType=VARCHAR}
    </if>
    <if test="tempVar2 != null and tempVar2 !=''" >
      and temp_var2 = #{tempVar2,jdbcType=VARCHAR}
    </if>
    <if test="tempInt1 != null and tempInt1 !=''" >
      and  temp_int1 = #{tempInt1,jdbcType=INTEGER}
    </if>
    <if test="tempInt2 != null and tempInt2 !=''" >
      and  temp_int2 = #{tempInt2,jdbcType=INTEGER}
    </if>
    order BY menu_type

  </select>

</mapper>