<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zihui.cwoa.processone.dao.HumanMapper">

    <select id="countLeaveByVo" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM
        (SELECT COUNT(*)
        FROM
        sys_user_leave
        WHERE 1=1
        <if test="arg0!=null and arg0!=''">and user_code=#{arg0}</if>
        <if test="arg1!=null and arg1!=''">and user_project=#{arg1}</if>
        <if test="arg2!=null and arg2!=''">and lea_year=#{arg2}</if>
        <if test="arg3!=null and arg3!=''">and lea_month=#{arg3}</if>
        GROUP BY
        user_project,user_code,lea_year,lea_month,lea_type) table_one
    </select>

    <select id="queryLeaveByVo" parameterType="String" resultType="Map">
        SELECT table_one.*,user_name FROM
        (SELECT user_code,user_project,lea_year,lea_month,lea_type,COUNT(*) AS lea_days
        FROM
        sys_user_leave
        WHERE 1=1
        <if test="arg0!=null and arg0!=''">and user_code=#{arg0}</if>
        <if test="arg1!=null and arg1!=''">and user_project=#{arg1}</if>
        <if test="arg2!=null and arg2!=''">and lea_year=#{arg2}</if>
        <if test="arg3!=null and arg3!=''">and lea_month=#{arg3}</if>
        GROUP BY
        user_project,user_code,lea_year,lea_month,lea_type
        LIMIT #{arg4},#{arg5}) table_one
        LEFT JOIN sys_user su ON su.user_code=table_one.user_code
    </select>

    <select id="queryLeaveDetail" parameterType="String" resultType="Map">
        SELECT lea_date,lea_type
        FROM
        sys_user_leave
        WHERE user_code=#{arg0}
        AND user_project=#{arg1}
        AND lea_year=#{arg2}
        AND lea_month=#{arg3}
    </select>
</mapper>