<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zihui.cwoa.financial.dao.FinancialMapper" >

  <select id="queryProjectAllInAndOut" resultType="com.zihui.cwoa.financial.pojo.ProjectInAndOut">
    SELECT user_project AS project_name,SUM(flow_money_out) AS all_out,SUM(flow_money_in) AS all_in
    FROM fin_money_flow GROUP BY user_project
  </select>

  <select id="queryProjectMonthInAndOut" parameterType="String" resultType="com.zihui.cwoa.financial.pojo.ProjectMonthInAndOut">
   SELECT user_project AS project_name,SUM(flow_money_out) AS all_out,SUM(flow_money_in) AS all_in,
   flow_year,flow_month FROM fin_money_flow WHERE user_project=#{project_name} GROUP BY flow_year,flow_month;
  </select>

  <select id="queryProjectMonthOutDetail" parameterType="String" resultType="com.zihui.cwoa.financial.pojo.ProjectMonthDetail">
    SELECT tableone.*,user_name FROM
    (SELECT user_project AS project_name,flow_money_out,flow_year,flow_month,flow_date,user_id,flow_process_id
    FROM fin_money_flow WHERE  user_project=#{arg0} AND flow_year=#{arg1} AND flow_month=#{arg2} AND flow_money_out IS NOT NULL ) tableone
    LEFT JOIN sys_user su ON su.user_id=tableone.user_id
  </select>

  <select id="queryProjectMonthInDetail" parameterType="String" resultType="com.zihui.cwoa.financial.pojo.ProjectMonthDetail">
    SELECT tableone.*,user_name FROM
    (SELECT user_project AS project_name,flow_money_in,flow_year,flow_month,flow_date,user_id,flow_process_id
    FROM fin_money_flow WHERE  user_project=#{arg0} AND flow_year=#{arg1} AND flow_month=#{arg2} AND flow_money_in IS NOT NULL) tableone
    LEFT JOIN sys_user su ON su.user_id=tableone.user_id
  </select>
</mapper>