<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zihui.cwoa.system.dao.sys_userMapper" >
  <resultMap id="BaseResultMap" type="com.zihui.cwoa.system.pojo.sys_user" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <id column="user_code" property="userCode" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="error_count" property="errorCount" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="images" property="images" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="ts" property="ts" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="temp_var1" property="tempVar1" jdbcType="VARCHAR" />
    <result column="temp_var2" property="tempVar2" jdbcType="VARCHAR" />
    <result column="temp_var3" property="tempVar3" jdbcType="VARCHAR" />
    <result column="temp_int1" property="tempInt1" jdbcType="INTEGER" />
    <result column="temp_int2" property="tempInt2" jdbcType="INTEGER" />
    <result column="temp_int3" property="tempInt3" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="last_time" property="lastTime" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="VARCHAR" />
    <result column="bank_card_num" property="bankCardNum" jdbcType="VARCHAR" />
    <result column="id_num" property="idNum" jdbcType="VARCHAR" />
       <collection property="project" ofType="com.zihui.cwoa.system.pojo.sys_project">
            <id column="project_id" property="projectId" jdbcType="INTEGER" />
            <result column="project_name" property="projectName" jdbcType="VARCHAR" />
            <result column="project_introduction" property="projectIntroduction" jdbcType="VARCHAR" />
            <result column="project_address" property="projectAddress" jdbcType="VARCHAR" />
       </collection>
      <collection property="department" ofType="com.zihui.cwoa.system.pojo.sys_department">
          <id column="department_id" property="departmentId" jdbcType="INTEGER" />
          <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
          <result column="department_code" property="departmentCode" jdbcType="VARCHAR" />
      </collection>

  </resultMap>

    <!-- 使用resultMap的<collection>标签进行一对多查询 -->
    <resultMap id="userRolesMap" extends="BaseResultMap" type="com.zihui.cwoa.system.pojo.sys_user">
        <!-- 部门的集合 -->
        <collection property="roles" ofType="com.zihui.cwoa.system.pojo.sys_role">
            <id column="role_id" property="roleId" jdbcType="INTEGER" />
            <result column="role_name" property="roleName" jdbcType="VARCHAR" />
            <result column="role_level" property="roleLevel" jdbcType="INTEGER" />
            <result column="role_code" property="roleCode" jdbcType="VARCHAR" />
            <result column="role_parent_id" property="roleParentId" jdbcType="INTEGER" />
        </collection>
    </resultMap>

  <sql id="user_one" >
    user_id as userId, user_code as userCode, user_password as userPassword,
     status as status, user_name as userName, email as email, create_time as createTime,
      error_count as errorCount,department_id as departmentId, images as images, phone as phone,
      ts, ip, project_id as projectId, temp_var1 as tempVar1, temp_var2 as tempVar2, temp_var3 as tempVar3,
    temp_int1 as tempInt1, temp_int2 as tempInt2, temp_int3 as tempInt3, sex, age, last_time as lastTime,
    login_time as loginTime, bank_card_num as bankCardNum,id_num as idNum
  </sql>


  <sql id="Base_Column_List" >
    user_id, user_code, user_password, status, user_name, email, create_time, error_count, 
    department_id, images, phone, ts, ip, project_id, temp_var1, temp_var2, temp_var3, 
    temp_int1, temp_int2, temp_int3, sex, age, last_time, login_time, bank_card_num, 
    id_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.zihui.cwoa.system.pojo.sys_user" >
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where 1=1
    <if test="userId != null and userId !=''" >
     and user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="userCode != null and userCode !=''" >
     and user_code = #{userCode,jdbcType=INTEGER}
    </if>
    <if test="email != null and email !=''" >
      and email = #{email,jdbcType=INTEGER}
    </if>

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.zihui.cwoa.system.pojo.sys_user" keyProperty="userId" useGeneratedKeys="true">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null and userId != ''" >
        user_id,
      </if>
      <if test="userCode != null and userCode != ''" >
        user_code,
      </if>
      <if test="userPassword != null and userPassword !=''" >
        user_password,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userName != null and userName !=''" >
        user_name,
      </if>
      <if test="email != null and email !=''" >
        email,
      </if>
      <if test="createTime != null and createTime !=''" >
        create_time,
      </if>
      <if test="errorCount != null and errorCount !=''" >
        error_count,
      </if>
      <if test="departmentId != null and departmentId !=''" >
        department_id,
      </if>
      <if test="images != null and images !=''" >
        images,
      </if>
      <if test="phone != null and phone !=''" >
        phone,
      </if>
      <if test="ts != null and ts != ''" >
        ts,
      </if>
      <if test="ip != null and ip !=''" >
        ip,
      </if>
      <if test="projectId != null and projectId !=''" >
        project_id,
      </if>
      <if test="tempVar1 != null and tempVar1 !=''" >
        temp_var1,
      </if>
      <if test="tempVar2 != null and tempVar2 !=''" >
        temp_var2,
      </if>
      <if test="tempVar3 != null and tempVar3 !=''" >
        temp_var3,
      </if>
      <if test="tempInt1 != null and tempInt1 !=''" >
        temp_int1,
      </if>
      <if test="tempInt2 != null and tempInt2 !=''" >
        temp_int2,
      </if>
      <if test="tempInt3 != null and tempInt3 !=''" >
        temp_int3,
      </if>
      <if test="sex != null and sex !=''" >
        sex,
      </if>
      <if test="age != null and age !=''" >
        age,
      </if>
      <if test="lastTime != null and lastTime !=''" >
        last_time,
      </if>
      <if test="loginTime != null and loginTime !=''" >
        login_time,
      </if>
      <if test="bankCardNum != null and bankCardNum !=''"  >
        bank_card_num,
      </if>
      <if test="idNum != null and idNum !=''" >
        id_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null and userId !=''" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userCode != null and userCode !=''" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null and userPassword !=''" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userName != null and userName !='' " >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="email != null and email !=''" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null and createTime !=''" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="errorCount != null and errorCount !=''" >
        #{errorCount,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null and departmentId !=''"  >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="images != null and images !=''" >
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone !='' " >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="ts != null and ts != ''" >
        #{ts,jdbcType=VARCHAR},
      </if>
      <if test="ip != null and ip !=''" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null and projectId != ''" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="tempVar1 != null and tempVar1 !=''" >
        #{tempVar1,jdbcType=VARCHAR},
      </if>
      <if test="tempVar2 != null and tempVar2 !=''" >
        #{tempVar2,jdbcType=VARCHAR},
      </if>
      <if test="tempVar3 != null and tempVar3 !=''" >
        #{tempVar3,jdbcType=VARCHAR},
      </if>
      <if test="tempInt1 != null and tempInt1 !=''" >
        #{tempInt1,jdbcType=INTEGER},
      </if>
      <if test="tempInt2 != null and tempInt2 !=''" >
        #{tempInt2,jdbcType=INTEGER},
      </if>
      <if test="tempInt3 != null and tempInt3 !=''" >
        #{tempInt3,jdbcType=INTEGER},
      </if>
      <if test="sex != null and sex !=''" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null and age != ''" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null and lastTime !=''" >
        #{lastTime,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null and loginTime !=''" >
        #{loginTime,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNum != null and bankCardNum !=''" >
        #{bankCardNum,jdbcType=VARCHAR},
      </if>
      <if test="idNum != null and idNum !='' " >
        #{idNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zihui.cwoa.system.pojo.sys_user" >
    update sys_user
    <set >
      <if test="userCode != null and userCode !=''" >
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null and userPassword !=''" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="status != null " >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userName != null and userName !=''" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="email != null and email !=''" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null and createTime !=''" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="errorCount != null and errorCount !=''" >
        error_count = #{errorCount,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null and departmentId !=''" >
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="images != null and images != ''" >
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone !='' " >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="ts != null and ts !=''" >
        ts = #{ts,jdbcType=VARCHAR},
      </if>
      <if test="ip != null and ip != ''" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null and projectId !=''" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="tempVar1 != null and tempVar1 != ''" >
        temp_var1 = #{tempVar1,jdbcType=VARCHAR},
      </if>
      <if test="tempVar2 != null and tempVar2 !=''" >
        temp_var2 = #{tempVar2,jdbcType=VARCHAR},
      </if>
      <if test="tempVar3 != null and tempVar3 !=''" >
        temp_var3 = #{tempVar3,jdbcType=VARCHAR},
      </if>
      <if test="tempInt1 != null and tempInt1 !=''" >
        temp_int1 = #{tempInt1,jdbcType=INTEGER},
      </if>
      <if test="tempInt2 != null and tempInt2 !=''" >
        temp_int2 = #{tempInt2,jdbcType=INTEGER},
      </if>
      <if test="tempInt3 != null and tempInt3 !=''" >
        temp_int3 = #{tempInt3,jdbcType=INTEGER},
      </if>
      <if test="sex != null and sex !=''" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null and age != ''" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null and lastTime != ''"   >
        last_time = #{lastTime,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null and loginTime !=''" >
        login_time = #{loginTime,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNum != null and bankCardNum !=''" >
        bank_card_num = #{bankCardNum,jdbcType=VARCHAR},
      </if>
      <if test="idNum != null and idNum !=''" >
        id_num = #{idNum,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
<select id="selectUserByCode" resultType="com.zihui.cwoa.system.pojo.sys_user" parameterType="java.lang.String">
  select
  <include refid="user_one" />
  from sys_user where user_code = #{userCode}

</select>


  <select id="userRoleQuery" resultType="com.zihui.cwoa.system.pojo.sys_users">
    SELECT
    sys_user.user_id AS userId,
    sys_user.user_code AS userCode,
    sys_user.user_name AS userName
    FROM
    sys_user left join sys_user_role on sys_user.user_id = sys_user_role.user_id
    WHERE
    1 = 1
    <if test="roleId != null and roleId !=''" >
      and sys_user_role.role_id = #{roleId}
    </if>
    <if test="projectId != null and projectId !=''" >
      and sys_user.project_id=#{projectId}
    </if>
  </select>
  <!--查询用户详细信息-->
  <select id="selectUserInfo" resultMap="userRolesMap" parameterType="java.lang.Integer">
    SELECT
	sys_user.*,
	sys_role.*,
	sys_department.*,
	sys_project.*
    FROM
	sys_user
    left JOIN sys_department ON sys_user.department_id = sys_department.department_id
    left JOIN sys_user_role on sys_user.user_id = sys_user_role.user_id
    left join sys_role on sys_role.role_id = sys_user_role.role_id
    left join sys_project on sys_project.project_id = sys_user.project_id
    where sys_user.user_id=#{userId}
    </select>

  <select id="selectUserByPage" resultMap="userRolesMap">

      SELECT
      sys_user.*,
      sys_role.*,
      sys_department.*,
      sys_project.*
      FROM
      (select * from sys_user u where 1=1
      <if test="user.userName != null and user.userName  !=''" >
          and u.user_name = LIKE CONCAT('%',#{user.userName},jdbcType=VARCHAR},'%')
      </if>
      <if test="user.userCode != null and user.userCode !=''" >
          and u.user_code=#{user.userCode}
      </if>

      limit #{page},#{limit})sys_user
      left JOIN sys_department ON sys_user.department_id = sys_department.department_id
      left JOIN sys_user_role on sys_user.user_id = sys_user_role.user_id
      left join sys_role on sys_role.role_id = sys_user_role.role_id
      left join sys_project on sys_project.project_id = sys_user.project_id
      where 1=1
      <if test="user.projectId != null and user.projectId  !=''" >
          and sys_project.project_id = #{user.projectId}
      </if>
      <if test="user.departmentId != null and user.departmentId !=''" >
          and sys_department.department_id=#{user.departmentId}
      </if>
      <if test="user.tempVar1 != null and user.tempVar1 !=''" >
        and sys_role.role_id=#{user.tempVar1}
      </if>

  </select>

  <select id="selectUserByPageCount" parameterType="com.zihui.cwoa.system.pojo.sys_user" resultType="java.lang.Integer">

      SELECT
      count(DISTINCT sys_user.user_id)

      FROM
      (select * from sys_user u where 1=1
      <if test="userName != null and userName  !=''" >
          and u.user_name LIKE CONCAT('%',#{userName},jdbcType=VARCHAR},'%')
      </if>
      <if test="userCode != null and userCode !=''" >
          and u.user_code=#{userCode}
      </if>

      )sys_user
      left JOIN sys_department ON sys_user.department_id = sys_department.department_id
      left JOIN sys_user_role on sys_user.user_id = sys_user_role.user_id
      left join sys_role on sys_role.role_id = sys_user_role.role_id
      left join sys_project on sys_project.project_id = sys_user.project_id
      where 1=1
      <if test="projectId != null and projectId  !=''" >
          and sys_project.project_id = #{projectId}
      </if>
      <if test="departmentId != null and departmentId !=''" >
          and sys_department.department_id=#{departmentId}
      </if>
      <if test="tempVar1 != null and tempVar1 !=''" >
        and sys_role.role_id=#{tempVar1}
      </if>

  </select>


  <!--用于展示项目首页页面用户下拉-->
  <select id="selectUserAndProject" resultType="com.zihui.cwoa.system.pojo.sys_users">
    SELECT DISTINCT user_id as userId,
    user_name as userName,
    user_code AS userCode FROM  sys_user join sys_project on sys_user.user_id = sys_project.project_user_id
  </select>
  <!--用于所有用户下拉-->
  <select id="selectUserBySelect" resultType="com.zihui.cwoa.system.pojo.sys_users">

    SELECT
    user_id as userId,
    user_name as userName,
    user_code AS userCode  from sys_user where status = 0
  </select>
</mapper>