<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zihui.cwoa.system.dao.sys_departmentMapper" >
  <resultMap id="BaseResultMap" type="com.zihui.cwoa.system.pojo.sys_department" >
    <id column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    <result column="department_code" property="departmentCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="ts" property="ts" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    department_id, department_name, department_code, status, ts
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_department
    where department_id = #{departmentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_department
    where department_id = #{departmentId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.zihui.cwoa.system.pojo.sys_department" >
    insert into sys_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="departmentName != null" >
        department_name,
      </if>
      <if test="departmentCode != null" >
        department_code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ts != null" >
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="departmentName != null" >
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="departmentCode != null" >
        #{departmentCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zihui.cwoa.system.pojo.sys_department" >
    update sys_department
    <set >
      <if test="departmentName != null" >
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="departmentCode != null" >
        department_code = #{departmentCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=VARCHAR},
      </if>
    </set>
    where department_id = #{departmentId,jdbcType=INTEGER}
  </update>
  <select id="selectByListSelect" resultMap="BaseResultMap">
    select * from sys_department
  </select>

  <select id="selectDeperByPage" resultMap="BaseResultMap">
    select * from sys_department where 1=1
    <if test="departmentName != null and departmentName !=''" >
      and department_name  LIKE CONCAT('%',#{departmentName,jdbcType=VARCHAR},'%')
    </if>
    limit #{page} , #{limit}

  </select>
<select id="selectDeperByPageCount" resultType="java.lang.Integer">
  select count(*) from sys_department where 1=1
  <if test="departmentName != null and departmentName !=''" >
    and department_name  LIKE CONCAT('%',#{departmentName,jdbcType=VARCHAR},'%')
  </if>


</select>


</mapper>