<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/admin.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/layui/css/layui.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/layui/css/layui.mobile.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/css/userManagement/users.css"/>
		<style type="text/css">
			.layui-laypage select{
				height: 28px;
				padding: 0 3px;
			}
		</style>
	</head>
	<body>
		<div class="layui-fluid">
			<div class="layui-card">
				<div class="layui-form layui-card-header layuiadmin-card-header-auto">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">用户工号：</label>
							<div class="layui-input-block">
				              <input type="text" name="username" id="SearchUserCode" placeholder="请输入" autocomplete="off" class="layui-input"/>
				            </div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">用户名称：</label>
							<div class="layui-input-block">
				              <input type="text" name="username" id="SearchUserName" placeholder="请输入" autocomplete="off" class="layui-input"/>
				            </div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">用户部门：</label>
							<div class="layui-input-block Departments">
								<select name="departments"  id="SearchDepartments">
									
								</select>
				            </div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">性别：</label>
							<div class="layui-input-block">
								<select name="sex"  id="SearchSex">
									<option>不限</option>
									<option value="男">男</option>
									<option value="女">女</option>
								</select>
				            </div>
						</div>
						<div class="layui-inline">
				            <button class="layui-btn layuiadmin-btn-useradmin" id="Search">
				            	<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
				            </button>
			          	</div>
					</div>
				</div>
				
				<!--表单内容-->
				<div class="layui-card-body">
					
			        <div class="layui-form layui-border-box layui-table-view">
			        	<div class="layui-table-box">
			        		<div class="layui-table-header">
			        			<table class="layui-hide" id="test" lay-filter="test"></table>
			        			<div id="demo0"></div>
			        		</div>
			        	</div>
			        </div>
				</div>
			</div>
		</div>
		
		
		
	</body>
	<script src="../../static/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../static/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/html" id="barDemo">
	  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	  <a class="layui-btn layui-btn-xs" lay-event="add">添加</a>
	  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>
	
	<script>
		layui.use(['form','laypage','layer','table'], function(){
		  var table = layui.table,
		  	  laypage = layui.laypage,
		  	  layer = layui.layer,
		  	  form = layui.form,
		  	  $ = layui.jquery;
		  		
		  var tabins = table.render({
		    elem: '#test',
		    url:'http://192.168.1.4:8080/user/getuser',
		    toolbar:"#barDemo",
		    method: 'post',
		    id: 'testReload',
//		    where: {"userCode":""},
		    cellMinWidth: 80, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
		    cols: [[
		      {type:'checkbox'},
		      {field:'userCode',  title: '用户工号', sort: true},
		      {field:'userName',  title: '用户名称'},
		      {field:'sex',  title: '性别'},
		      {field:'email',  title: '邮箱'},
		      {field:'images',  title: '头像'},
		      {field:'phone',  title: '电话'},
		      {field:'ts',  title: '登陆时间', sort: true},
		      {field:'ip',  title: 'IP'},
		      {field:'name',  title: '部门',templet:function(d){
		      	var a = eval(d.departments);
		      	var name="";
		      	if(a!=null){
		      		$.each(a,function(index,value){
	     				name = value.departmentName+"、"+name;
					});
		      	}else{
		      		name=""
		      	}
		      	
		      	//var ddd=a.departments[0].departmentCode
		      	name = name.substring(0,name.length-1);
		      	return name ;
		      }}
		      
		    ]],
		  });
		  //搜索(方法重载)
 			
		  $('#Search').on('click', function(){
		  	var name2 =$('#SearchDepartments').val();
		  	var name1= names(name2);
		  	var sex1 = names( $('#SearchSex').val());
 			function names(obj){
 				var n = "";
 				if(obj=="不限"){
 					return n;
 				}
 				return obj;
 			}
//				console.log(name1+sex1);
		      table.reload('testReload', {
		      	url:'http://192.168.1.4:8080/user/getuser',
		        where: {
		           	userCode: $('#SearchUserCode').val(),
		            userName: $('#SearchUserName').val(),
		            tempVar3: name1,
		            sex: sex1,
		        }
		      });
		  });
		  
		  
		  //分页
		  var counts=0;
		  
		  laypage.render({
		    elem: 'demo0'
		    ,count: 20 //数据总数
		    ,layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
		    ,jump: function(obj){
//		      console.log(obj.index)
		      counts=20;
		      return counts;
		      console.log(a)
		    }
		  });
		  //头工具栏事件
		  table.on('toolbar(test)', function(obj){
		    var checkStatus = table.checkStatus(obj.config.id);
		    switch(obj.event){
		      case 'edit':
		      	//用户编辑
		        var data = checkStatus.data;
		        if(data.length==1){
		        	
		        }else{
		        	layer.alert("请一次选中一个！");
		        }
		      break;
		      case 'add':
		      	//用户添加
		      break;
		      case 'del':
		      	//用户删除
//		        var checkStatus = table.checkStatus('test');
		        console.log(checkStatus.data.length);
				if(checkStatus.data.length==0){
					parent.layer.msg('请先选择要删除的数据行！', {icon: 2});
					return ;
				}
				var ids = "";
				for(var i=0;i<checkStatus.data.length;i++){
					ids += checkStatus.data[i].userCode+",";
				}
				ids=ids.substring(0,ids.length-1);
				var usercodes=ids;
				parent.layer.msg('删除中...', {icon: 16,shade: 0.3,time:5000});
				 $.ajax({
				 	
        	  	type:"post",
        	  	url:"http://192.168.1.4:8080/user/delete",
        	  	xhrFields: {
					withCredentials: true
				},
				data: {
					"usercodes": ids
				},
        	  	dataType:"json",
        	  	success:function(data){
        	  		console.log(data)
        	  	},
        	  	error:function(jqx){
        	  		alert("发生错误："+jqx);
        	  	}
        	  });
			 
		      break;
		    };
		  });
		  
		 //下拉框加载
		 $.get('http://192.168.1.4:8080/department/getdepartment', {}, function (data) {
                var $html = "<option>不限</option>";
                if(data.data != null){
                    $.each(data.data, function (index, item) {
                        if (item.proType){
                            $html += "<option class='generate'>不限</option>";
                        }else{
                            $html += "<option value='" + item.departmentId + "'>" + item.departmentName + "</option>";
                        }
                    });
                 $("select[name='departments']").append($html);
                 //反选
                 $("select[name='departments']").val($("#SearchDepartments").val());
                 //append后必须从新渲染
                 form.render('select');
             }
		});
})
	</script>
</html>
