<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zihui.cwoa.workplan.dao.PlanMapper" >

    <insert id="insertPlan" parameterType="String" >
      INSERT INTO pro_plan
      (plan_name,time_limit,start_time,circle_list,point_list,draw_man,draw_time,plan_statu)
      VALUES
      (#{arg1},#{arg2},#{arg3},#{arg4},#{arg5},#{arg0},NOW(),1)
    </insert>

    <select id="selectPlanName" resultType="Map">
        SELECT plan_id,plan_name FROM pro_plan WHERE plan_statu=1
    </select>

    <select id="selectPlanText" parameterType="String" resultType="Map">
        SELECT plan_name,time_limit,start_time,circle_list,point_list FROM pro_plan WHERE plan_id=#{arg0}
    </select>
</mapper>