<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zihui.cwoa.financial.dao.FinancialMapper" >

  <select id="queryProjectAllInAndOut" resultType="com.zihui.cwoa.financial.pojo.ProjectInAndOut">
    SELECT user_project AS project_name,SUM(flow_money_out) AS all_out,SUM(flow_money_in) AS all_in
    FROM fin_money_flow GROUP BY user_project
  </select>

  <select id="queryProjectMonthInAndOut" parameterType="String" resultType="com.zihui.cwoa.financial.pojo.ProjectMonthInAndOut">
   SELECT user_project AS project_name,SUM(flow_money_out) AS all_out,SUM(flow_money_in) AS all_in,
   flow_year,flow_month FROM fin_money_flow WHERE 1=1
   <if test="_parameter!=null and _parameter!=''">AND user_project=#{arg0}</if>
  GROUP BY flow_year,flow_month
   ORDER BY flow_year DESC,flow_month DESC
  </select>

  <select id="queryProjectMonthOutDetail" parameterType="String" resultType="com.zihui.cwoa.financial.pojo.ProjectMonthDetail">
    SELECT tableone.*,user_name FROM
    (SELECT user_project AS project_name,flow_money_out,flow_year,flow_month,flow_date,user_code,flow_process_id,flow_type
    FROM fin_money_flow WHERE  user_project=#{arg0} AND flow_year=#{arg1} AND flow_month=#{arg2}
    AND flow_money_out IS NOT NULL ) tableone
    LEFT JOIN sys_user su ON su.user_id=tableone.user_code ORDER BY flow_date DESC
  </select>

  <select id="queryProjectMonthInDetail" parameterType="String" resultType="com.zihui.cwoa.financial.pojo.ProjectMonthDetail">
    SELECT tableone.*,user_name FROM
    (SELECT user_project AS project_name,flow_money_in,flow_year,flow_month,flow_date,user_code,flow_process_id,flow_type
    FROM fin_money_flow WHERE  user_project=#{arg0} AND flow_year=#{arg1} AND flow_month=#{arg2}
    AND flow_money_in IS NOT NULL) tableone
    LEFT JOIN sys_user su ON su.user_id=tableone.user_code ORDER BY flow_date DESC
  </select>

  <select id="queryProjectAllIn" resultType="com.zihui.cwoa.financial.pojo.ProjectInAndOut">
    SELECT user_project AS project_name,SUM(flow_money_in) AS all_in
    FROM fin_pro_money_flow GROUP BY user_project
  </select>

  <select id="queryProjectMonthIn" parameterType="String" resultType="com.zihui.cwoa.financial.pojo.ProjectMonthInAndOut">
    SELECT user_project AS project_name,SUM(flow_money_in) AS all_in,
    flow_year,flow_month FROM fin_pro_money_flow WHERE 1=1
    <if test="_parameter!=null and _parameter!=''">AND user_project=#{arg0}</if>
    GROUP BY flow_year,flow_month
    ORDER BY flow_year DESC,flow_month DESC
  </select>

  <select id="queryProMonthInDetail" parameterType="String" resultType="com.zihui.cwoa.financial.pojo.ProjectMonthDetail">
    SELECT tableone.*,user_name FROM
    (SELECT user_project AS project_name,flow_money_in,flow_year,flow_month,flow_date,user_code,flow_process_id,flow_type
    FROM fin_pro_money_flow WHERE  user_project=#{arg0} AND flow_year=#{arg1} AND flow_month=#{arg2}
    AND flow_money_in IS NOT NULL) tableone
    LEFT JOIN sys_user su ON su.user_id=tableone.user_code ORDER BY flow_date DESC
  </select>

  <select id="queryMoneyFlowByVoc" parameterType="String" resultType="com.zihui.cwoa.financial.pojo.ProjectMonthDetail">
    SELECT tableone.*,user_name FROM
    (SELECT user_code,user_project AS project_name,flow_year,flow_month,flow_date,
    IFNULL(flow_money_out,0) AS flow_money_out,IFNULL(flow_money_in,0) AS flow_money_in,flow_type,flow_process_id
    FROM fin_money_flow WHERE  1=1
    <if test="arg0!=null and arg0!=''"> and  user_code=#{arg0}</if>
    <if test="arg1!=null and arg1!=''"> and  user_project=#{arg1}</if>
    <if test="arg2!=null and arg2!=''"> and  flow_year=#{arg2}</if>
    <if test="arg3!=null and arg3!=''"> and  flow_month=#{arg3}</if>
    <if test="arg4!=null and arg4!=''"> and  flow_type=#{arg4}</if>
    LIMIT #{arg5},#{arg6}) tableone
    LEFT JOIN sys_user su ON su.user_id=tableone.user_code
  </select>

  <select id="countMoneyFlowByVoc" parameterType="String" resultType="Integer">
    SELECT COUNT(flow_id)
    FROM fin_money_flow WHERE  1=1
    <if test="arg0!=null and arg0!=''"> and  user_code=#{arg0}</if>
    <if test="arg1!=null and arg1!=''"> and  user_project=#{arg1}</if>
    <if test="arg2!=null and arg2!=''"> and  flow_year=#{arg2}</if>
    <if test="arg3!=null and arg3!=''"> and  flow_month=#{arg3}</if>
    <if test="arg4!=null and arg4!=''"> and  flow_type=#{arg4}</if>
  </select>

  <select id="queryMoneyFlowByVop" parameterType="String" resultType="com.zihui.cwoa.financial.pojo.ProjectMonthDetail">
    SELECT tableone.*,user_name FROM
    (SELECT user_code,user_project AS project_name,flow_year,flow_month,flow_date,IFNULL(flow_money_out,0) AS flow_money_out,
    IFNULL(flow_money_in,0) AS flow_money_in,flow_type,flow_process_id
    FROM fin_pro_money_flow WHERE  1=1
    <if test="arg0!=null and arg0!=''"> and  user_code=#{arg0}</if>
    <if test="arg1!=null and arg1!=''"> and  user_project=#{arg1}</if>
    <if test="arg2!=null and arg2!=''"> and  flow_year=#{arg2}</if>
    <if test="arg3!=null and arg3!=''"> and  flow_month=#{arg3}</if>
    <if test="arg4!=null and arg4!=''"> and  flow_type=#{arg4}</if>
    LIMIT #{arg5},#{arg6}) tableone
    LEFT JOIN sys_user su ON su.user_id=tableone.user_code
  </select>

  <select id="countMoneyFlowByVop" parameterType="String" resultType="Integer">
    SELECT COUNT(flow_id)
    FROM fin_pro_money_flow WHERE  1=1
    <if test="arg0!=null and arg0!=''"> and  user_code=#{arg0}</if>
    <if test="arg1!=null and arg1!=''"> and  user_project=#{arg1}</if>
    <if test="arg2!=null and arg2!=''"> and  flow_year=#{arg2}</if>
    <if test="arg3!=null and arg3!=''"> and  flow_month=#{arg3}</if>
    <if test="arg4!=null and arg4!=''"> and  flow_type=#{arg4}</if>
  </select>

  <select id="queryMoneyFlowSumByVo" parameterType="String" resultType="com.zihui.cwoa.financial.pojo.ProjectMonthDetail">
    SELECT
      user_project AS project_name,
      <if test="(arg2==null or arg2=='') and arg3=='monthSum'">'至今' AS flow_year,</if>
      <if test="(arg2!=null and arg2!='') or arg3!='monthSum'">flow_year,</if>
      <if test="arg3!='monthSum'">flow_month,</if>
      <if test="arg3=='monthSum'">'全年' AS flow_month,</if>
      <if test="arg4!='typeSum'">flow_type,</if>
      <if test="arg4=='typeSum'">'无' AS flow_type,</if>
      IFNULL(SUM(flow_money_out),0) AS flow_money_out,
      IFNULL(SUM(flow_money_in),0) AS flow_money_in
    FROM
      <if test="arg5=='company'">fin_money_flow</if>
      <if test="arg5=='project'">fin_pro_money_flow</if>
      <if test="arg5!='company' and arg5!='project'">fin_money_flow</if>
    WHERE 1=1
      <if test="arg0!=null and arg0!=''"> and  user_code=#{arg0}</if>
      <if test="arg1!=null and arg1!=''"> and  user_project=#{arg1}</if>
      <if test="arg2!=null and arg2!=''"> and  flow_year=#{arg2}</if>
      <if test="arg3!='monthSum' and arg3!='monthAll'"> and  flow_month=#{arg3}</if>
      <if test="arg4!='typeSum' and arg4!='typeAll'"> and  flow_type=#{arg4}</if>
    GROUP BY
    <trim suffixOverrides=",">
      user_project,
      <if test="arg3!='monthSum'">flow_year DESC,flow_month DESC,</if>
      <if test="arg4!='typeSum'">flow_type</if>
    </trim>
    LIMIT #{arg6},#{arg7}
  </select>

  <select id="countMoneyFlowSumByVo" parameterType="String" resultType="Integer">
    SELECT COUNT(*) FROM
    (SELECT COUNT(*)
    FROM
    <if test="arg5=='company'">fin_money_flow</if>
    <if test="arg5=='project'">fin_pro_money_flow</if>
    <if test="arg5!='company' and arg5!='project'">fin_money_flow</if>
    WHERE 1=1<if test="arg0!=null and arg0!=''">and user_code=#{arg0}</if>
    <if test="arg1!=null and arg1!=''">and user_project=#{arg1}</if>
    <if test="arg2!=null and arg2!=''">and flow_year=#{arg2}</if>
    <if test="arg3!='monthSum' and arg3!='monthAll'">and flow_month=#{arg3}</if>
    <if test="arg4!='typeSum' and arg4!='typeAll'">and flow_type=#{arg4}</if>
    GROUP BY
    <trim suffixOverrides=",">
      user_project,
      <if test="arg3!='monthSum'">flow_year,flow_month,</if>
      <if test="arg4!='typeSum'">flow_type</if>
    </trim>) table_one
  </select>

  <insert id="editMoneyFlow" parameterType="String" >
      INSERT INTO fin_money_flow (
        user_code,
        user_project,
        flow_year,
        flow_month,
        flow_date,
        <if test="arg6=='ask'">flow_money_out,</if>
        <if test="arg6=='rem'">flow_money_in,</if>
        <if test="arg6!='ask' and arg6!='rem'">flow_money_out,</if>
        flow_process_id,
        flow_type)
      VALUES(
        #{arg0},
        #{arg1},
        #{arg2},
        #{arg3},
        NOW(),
        #{arg4},
        '无',
        #{arg5})
  </insert>
</mapper>