
#test-n2 {
	position: relative;
	/*min-height: 400px !important;*/
	width: 100% !important;
}

#test-n2  #layui-laydate1,#test-n2  #layui-laydate1 .layui-laydate-main,#test-n2 .layui-laydate-content table{
	width: 100% !important;
}

#test-n2 .layui-laydate-content table tbody{
	height:calc(100vh - 240px)!important;
}
.text_box{
	padding: 15px !important;
}
tr{
	height: 80px  !important;
}
.laydate-day-mark{

	font-size: 14px !important;
}
.laydate-disabled{
	color:#666666 !important;
}

.layui-laydate-main{
	width: 100% !important;
}
.layui-laydate{
	width: 100% !important;
}
