<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zihui.cwoa.processone.dao.HumanMapper">

    <select id="countLeaveByVo" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM
        (SELECT COUNT(*)
        FROM
        sys_user_leave
        WHERE 1=1
        <if test="arg0!=null and arg0!=''">and user_code=#{arg0}</if>
        <if test="arg1!=null and arg1!=''">and user_project=#{arg1}</if>
        <if test="arg2!=null and arg2!=''">and lea_year=#{arg2}</if>
        <if test="arg3!=null and arg3!=''">and lea_month=#{arg3}</if>
        GROUP BY
        user_project,user_code,lea_year,lea_month,lea_type) table_one
    </select>

    <select id="queryLeaveByVo" parameterType="String" resultType="Map">
        SELECT table_one.*,user_name FROM
        (SELECT user_code,user_project,lea_year,lea_month,lea_type,COUNT(*) AS lea_days
        FROM
        sys_user_leave
        WHERE 1=1
        <if test="arg0!=null and arg0!=''">and user_code=#{arg0}</if>
        <if test="arg1!=null and arg1!=''">and user_project=#{arg1}</if>
        <if test="arg2!=null and arg2!=''">and lea_year=#{arg2}</if>
        <if test="arg3!=null and arg3!=''">and lea_month=#{arg3}</if>
        GROUP BY
        user_project,user_code,lea_year,lea_month,lea_type
        LIMIT #{arg4},#{arg5}) table_one
        LEFT JOIN sys_user su ON su.user_code=table_one.user_code
    </select>

    <select id="queryLeaveDetail" parameterType="String" resultType="Map">
        SELECT lea_date,lea_type
        FROM
        sys_user_leave
        WHERE user_code=#{arg0}
        AND user_project=#{arg1}
        AND lea_year=#{arg2}
        AND lea_month=#{arg3}
    </select>

    <resultMap type="com.zihui.cwoa.financial.pojo.RoleAllUser" id="RoleAllUser">
        <result property="role_id" javaType="String" column="role_id" jdbcType="VARCHAR" />
        <result property="role_name" javaType="String" column="role_name" jdbcType="VARCHAR" />
        <collection property="list" ofType="com.zihui.cwoa.system.pojo.sys_users">
            <result property="userId" javaType="Integer" column="user_id" jdbcType="INTEGER" />
            <result property="userCode" javaType="String" column="user_code" jdbcType="VARCHAR" />
            <result property="userName" javaType="String" column="user_name" jdbcType="VARCHAR" />
        </collection>
    </resultMap>

    <select id="queryRoleAllUser"  resultMap="RoleAllUser">
        SELECT * FROM
        (SELECT user_id,user_code,user_name,role_id,role_name FROM
        (SELECT user_id,user_code,user_name,role_id AS r_id FROM
        (SELECT user_id AS u_id,user_name,user_code FROM sys_user WHERE STATUS=0) tableone
        INNER JOIN sys_user_role tabletwo
        ON tableone.u_id=tabletwo.user_id) tablethr
        LEFT JOIN sys_role tablefour
        ON tablethr.r_id=tablefour.role_id ORDER BY role_level DESC) tablefive
        GROUP BY user_id
    </select>

    <select id="queryMenuByParentId"  parameterType="String" resultType="String">
        SELECT menu_name FROM sys_menu WHERE menu_url IS NULL AND parent_id =#{arg1} AND menu_id IN
        (SELECT menu_id FROM sys_role_menu WHERE role_id IN
            (SELECT role_id FROM sys_user_role WHERE user_id=#{arg0}))
    </select>

    <select id="queryRoleSelect" resultType="Map">
      SELECT role_name AS 'name',role_id AS 'value' FROM sys_role
    </select>
</mapper>