<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>日程安排</title>
		<link rel="stylesheet" type="text/css" href="../../static/css/admin.css" />
		<link rel="stylesheet" type="text/css" href="../../static/layui/css/layui.css" />
		<link rel="stylesheet" href="../../static/css/date.css" />
		<style type="text/css">
			.layui-laypage select {
				height: 28px;
				padding: 0 3px;
			}
			
			.layui-table-box {
				overflow: visible;
			}
			.layuiadmin-btn-useradmin{
				float: right;
			}
			@media only screen and (min-width: 100px) and (max-width: 320px) {
				.layui-btn+.layui-btn {
					margin-left: 2px;
				}
				.layui-table-tool-temp {
					padding-right: 100px;
				}
			}
		</style>
	</head>

	<body>
		<div class="layui-fluid">
			<div class="layui-card">
				<div class="layui-form layui-card-header layuiadmin-card-header-auto">
					
				</div>

				<!--表单内容-->
				<div class="layui-card-body">

					<div class="layui-form layui-border-box layui-table-view">
						<div class="layui-table-box">
							<div class="layui-table-header">
								<blockquote class="layui-elem-quote">日程安排</blockquote>
								<div class="layui-inline" id="test-n2"></div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
	<script src="../../static/layui/layui.js" type="text/javascript" charset="utf-8"></script>

	<script>
		layui.config({
			base: '../../static/js/trip/' //静态资源所在路径
		}).use(['trip'], function() {

		});
	</script>

</html>