<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zihui.cwoa.workplan.dao.PlanMapper" >

    <insert id="insertPlan" parameterType="String" >
      INSERT INTO pro_plan
      (plan_name,time_limit,start_time,plan_type,time_width,circle_list,point_list,draw_man,draw_project,draw_time,plan_statu)
      VALUES
      (#{arg1},#{arg2},#{arg3},#{arg4},#{arg5},#{arg6},#{arg7},#{arg0},#{arg8},NOW(),1)
    </insert>

    <select id="selectPlanName" parameterType="String" resultType="Map">
        SELECT plan_id,plan_name FROM pro_plan WHERE draw_project=#{arg0} AND plan_statu=1 ORDER BY draw_time DESC
    </select>

    <select id="selectPlanText" parameterType="String" resultType="Map">
        SELECT plan_name,time_limit,start_time,plan_type,time_width,circle_list,point_list
        FROM pro_plan
        WHERE plan_id=#{arg0}
    </select>

    <select id="selectPlanCount" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM pro_plan
        <if test="projectId!=null and projectId!=''">WHERE draw_project=#{projectId}</if>
    </select>

    <select id="selectPlanJson" parameterType="Map" resultType="Map">
        SELECT plan_id,plan_name,draw_man,draw_project,draw_time,plan_statu FROM pro_plan
        <if test="projectId!=null and projectId!=''">WHERE draw_project=#{projectId}</if>
        ORDER BY draw_time DESC
        LIMIT #{page},#{limit}
    </select>

    <delete id="deleteManyPlan" parameterType="List">
        DELETE FROM pro_plan WHERE plan_id IN
        <foreach collection="array" open="(" separator="," close=")"  item="temp">
            ${temp}
        </foreach>
    </delete>

    <delete id="deletePlan" parameterType="String">
        DELETE FROM pro_plan WHERE plan_id=#{arg0}
    </delete>

    <update id="updatePlan" parameterType="String">
        UPDATE pro_plan SET plan_name=#{arg1},draw_man=#{arg2},draw_project=#{arg3},plan_statu=#{arg4}
        WHERE plan_id=#{arg0}
    </update>
</mapper>