<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>通知</title>
		<link rel="stylesheet" type="text/css" href="../../../static/css/admin.css" />
		<link rel="stylesheet" type="text/css" href="../../../static/layui/css/layui.css" />
		<style type="text/css">
			.layui-laypage select {
				height: 28px;
				padding: 0 3px;
			}
			
			.layui-table-box {
				overflow: visible;
			}
			.layui-card-header{
				border-bottom:0px solid #f6f6f6;
			}

			
			@media only screen and (min-width: 100px) and (max-width: 320px) {
				.layui-btn+.layui-btn {
					margin-left: 2px;
				}

			}
		</style>
	</head>

	<body>
		<div class="layui-fluid">
			
			<div class="layui-card">
				
				<div class="layui-form layui-card-header layuiadmin-card-header-auto">
				</div>
				<fieldset class="layui-elem-field layui-field-title">
					<legend>我的待办
					</legend>
				</fieldset>
				<!--表单内容-->
				<div class="layui-card-body">

					<div class="layui-form layui-border-box layui-table-view">
						<div class="layui-table-box">
							<div class="layui-table-header">
								<table class="layui-hide" id="test" lay-filter="test"></table>
								<script type="text/html" id="barDemo">
									{{# if(d.taskBs[0].taskStatus==2||d.taskBs[0].taskStatus==3){ }}
										<a class="layui-btn layui-btn-xs  layui-btn-danger" lay-event="edit">查看待办</a>
									{{# } else if(d.taskBs[0].taskStatus==4){ }} 
										<a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="info">已处理</a>
									{{#} }}
								</script>
								<div id="demo8"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
	<script src="../../../static/layui/layui.js" type="text/javascript" charset="utf-8"></script>

	<script>
		layui.config({
			base: '../../../static/js/system/mytask/' //静态资源所在路径
		}).use(['mytask'], function() {

		});
	</script>

</html>