<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>修改</title>
		<link rel="stylesheet" type="text/css" href="../../../static/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../../static/layui/css/layui.css"/>
		<link href="../../../static/css/formSelects-v4.css" rel="stylesheet" />
		<style type="text/css">
			.layui-input, .layui-textarea{
				padding: 0 10px;
			}
			.layui-form-label .layui-badge-dot{
			    width: 4px;
			    height: 4px;
			    border-radius: 50%;
			    background-color: red;
			    top: -6px;
			    right: 2px;
			}
			.layui-form .layui-btn{
				margin: 0 30px;
			}
			.layui-layer-iframe .layui-layer-btn a{
				text-align: left;
				margin: 5px 30px 0;
			}
			.xm-select-tips{
				display: none;
			}
			@media only screen and (min-width: 100px) and (max-width: 768px) {
				.layui-form .layui-btn{
					margin: 0 10px;
				}
				.layui-form #sub{
					width: 80px;
					margin-left: 100px;
				}
			}
			#sub{
				width: 100px;
				margin-left: 160px;
			}
		</style>
	</head>
	<body>
		<form class="layui-form" action="javascript:;">
			<div class="layui-form" style="padding: 20px 20px 20px 0;">
				<div class="layui-form-item">
					<lable class="layui-form-label">用户工号</lable>
					<div class="layui-input-block">
						<input type="text" name="" lay-verify="required|usercode" id="usercode" placeholder="请输入用户工号" autocomplete="off" class="layui-input" />
					</div>
				</div>
				<div class="layui-form-item">
					<lable class="layui-form-label">用户名称</lable>
					<div class="layui-input-block">
						<input type="text" name="" lay-verify="required" id="username" placeholder="请输入用户名称" autocomplete="off" class="layui-input" />
					</div>
				</div>
				<div class="layui-form-item">
					<lable class="layui-form-label">选择部门</lable>
					<div class="layui-input-block">
				      <select name="departments" id="department" lay-verify="select" xm-select="select1" xm-select-skin="primary">
				      	
				      </select>
				   </div>
				</div>
				<div class="layui-form-item">
					<lable class="layui-form-label">选择项目</lable>
					<div class="layui-input-block">
				      <select name="projects" id="project"  lay-search="">
				      	
				      </select>
				   </div>
				</div>
				<div class="layui-form-item">
					<lable class="layui-form-label">选择角色</lable>
					<div class="layui-input-block">
						<select name="roles" lay-verify="required" id="roles" lay-search="">

						</select>
					</div>
				</div>
				<div class="layui-form-item">
					<lable class="layui-form-label">身份证号</lable>
					<div class="layui-input-block">
						<input type="text" name="" id="idNum" placeholder="请输入身份证号" autocomplete="off" class="layui-input" />
					</div>
				</div>
				<div class="layui-form-item">
					<lable class="layui-form-label">邮箱地址</lable>
					<div class="layui-input-block">
						<input type="text" name="" id="email" placeholder="请输入邮箱地址" autocomplete="off" class="layui-input" />
					</div>
				</div>
				<div class="layui-form-item">
					<lable class="layui-form-label">联系电话</lable>
					<div class="layui-input-block">
						<input type="text" name="" id="phone" placeholder="请输入联系电话" autocomplete="off" class="layui-input" />
					</div>
				</div>
				
				
				<div class="layui-form-item">
					<lable class="layui-form-label">银行卡号</lable>
					<div class="layui-input-block">
						<input type="text" name="" id="bankCardNum" placeholder="请输入银行卡号" autocomplete="off" class="layui-input" />
					</div>
				</div>
				<div class="layui-form-item">
					<lable class="layui-form-label">状态</lable>
					<div class="layui-input-block">
				      <input type="radio" name="status" value="0" title="正常" checked="checked" />
				      <input type="radio" name="status" value="1" title="禁用" />
				      <input type="hidden" id="userId" />
				      <input type="hidden" id="departmentId" />
				      <input type="hidden" id="projectId" />
						<input type="hidden" id="roleId" />
				    </div>
				</div>
				<div class="layui-form-item">
				<div class="layui-input-block">
					<button id="addtj" class="layui-btn hi" lay-submit="" lay-filter="edisuser">确认</button>
					<button id="addqx" class="layui-btn">取消</button>
				</div>
			</div>
			</div>
		</form>
	</body>
	<script src="../../../static/layui/layui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../static/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
		layui.config({
     		base: '../../../static/js/system/user/' //静态资源所在路径
		}).use(['reviseManagement',"jquery"], function(){
			
		}); 
			
	</script>
</html>
