<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8" />
		<title>设置我的资料</title>
		<meta name="renderer" content="webkit" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<link rel="stylesheet" href="../../../static/css/admin.css" media="all" />
		<link rel="stylesheet" href="../../../static/layui/css/layui.css" media="all" />
		<style type="text/css">
			
		</style>
	</head>

	<body>

		<div class="layui-fluid">
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md12">
					<div class="layui-card">
						<div class="layui-card-header">设置我的资料</div>
						<div class="layui-card-body">
							<div class="layui-form" lay-filter="">
								<div class="layui-form-item">
									<label class="layui-form-label">用户工号</label>
									<div class="layui-input-inline">
										<input type="text" disabled="disabled" id="LAY-user-login-code" class="layui-input" />
									</div>
								</div>

								<div class="layui-form-item">
									<label class="layui-form-label">用户名</label>
									<div class="layui-input-inline">
										<input type="text" id="username" lay-verify="nickname" class="layui-input" />
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">头像</label>
									<div class="layui-input-inline">
										<img class="layui-upload-img" id="demo1" style="width: 100px; height: 100px;">
										<p id="demoText"></p>
									</div>
									<div class="layui-input-inline layui-btn-container" style="width: auto; margin-top: 30px;">
										<button type="button" class="layui-btn layui-btn-primary" id="test1">
                    						<i class="layui-icon"></i>上传图片
                  							</button>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">性别</label>
									<div class="layui-input-block">
										<input type="radio" name="sex" value="男" title="男" checked="checked" />
										<input type="radio" name="sex" value="女" title="女" />
									</div>
								</div>

								<div class="layui-form-item">
									<label class="layui-form-label">手机号</label>
									<div class="layui-input-inline">
										<input type="text" id="cellphone" value="" lay-verify="phone" autocomplete="off" class="layui-input" />
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">邮箱</label>
									<div class="layui-input-inline">
										<input type="text" name="email" value="" lay-verify="email" autocomplete="off" class="layui-input" />
									</div>
								</div>
								<div class="layui-form-item">
									<div class="layui-input-block">
										<button id="edit" class="layui-btn">编辑信息</button>

										<button id="tijiao" class="layui-btn hi" lay-submit="" lay-filter="setmyinfo">确认修改</button>
										<button id="quxiao" class="layui-btn hi">取消</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../../../static/layui/layui.js"></script>
		<script>
			layui.config({

				base: "../../../static/js/system/user/"

			}).use(['userInfo'], function() {
					

			});
		</script>
	</body>

</html>